@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables';
@import 'mixins';

@include reset;

h2{
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: marg(l);
    color: boja(naslov);
}

nav{
     display: flex;  
      width: 100%;

    .lokacija{   
    background-color: boja(nar);
    text-align: left; 
    height: marg(xl); 
    padding-left: marg(l);  
    display: flex;
    flex-grow: 1;   

    a{
        @include link;
        display: flex;
justify-content: center;
        p{        
         text-decoration: underline;
         line-height: marg(xl);
        }

        img{
            align-self: center;         
            height: marg(xl);
            width: marg(xl);
        }
      }
   }

   ul {
       background-color: boja(t-plava);
       list-style: none;
       flex-grow: 5;

       li{
           display: inline-block;
           line-height: 3em;
           text-align: center;
           height: 3em;
           

           a{
               @include link;
               padding-left: marg(xl);

               &:hover {
              text-decoration: underline;
               }
           }
       }
   }
}

section {
    width: 100%;    
	text-align: center;
  //  position: relative;
     }
    
    section:nth-child(even) {
        background-color: boja(siva-bg);
 }
  

        .prva {
        background: url('../slike/intro.jpg') no-repeat center center;         
        @include bg-cover;
        height: 40vh;
      
        color: #fff;
        position: relative;

        .intro {
            width: 100%;
            @include cent;
            background-color: boja(tr-plava);
            padding:marg(xs);
            h1{
                padding-bottom: marg(xs);
                font-size: 1.8rem;
            }
            p{
                font-size: .8rem;
            }
        }
    }

.druga {    
   display: flex;
   justify-content: flex-end;
    padding: 1.2rem 15vw 1.2rem 0;

      button {
          @include btn;

            &:hover {
                background-color: boja(siva-hv);
                color: #fff;
                border-radius: 20px;
            }        
      } 
}

@include respond(phone) {
nav {       
        display: flex;
        flex-direction: column; 
    ul li {
        display: block;      
    }
}   
      .prva {      
        background-color: #000;
        background-image: none;
       height: 25vh;             

        .intro{
            background-color: #000;
            padding: 1.3rem 0;             
        }
    }
}

.druga{
  padding-left: marg(xl);
    

    button{
   
        margin: marg(xs);
    }
}