$orange: #f75311;
$header-footer-dark-blue: #374249;
$font-color: #797979;
$main-font-family: 'Roboto', sans-serif;
$headings: #374249;
$light-gray-hover-button: #cfd1d3;
$light-gray-background-section: #f3f7f9;