@import "vars";
@import "mixins";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: $fontSize;
    font-family: $bodyFont;
}
header {
    width: 100%;
    nav {
        background-color: $darkblue;
        ul li {
            display: inline-block;
            padding: 20px 40px;
            a {
                text-decoration: none;
                color: white;
                
                &:hover {
                    text-decoration: underline;
                }
            }
            &:first-child {
                background-color: $orange;
                color: white;
                text-decoration: underline;
                font-size: 1.5 * $fontSize;
                width: 20%;
            }
        }
    }
    #head {
        background: url('../slike/intro.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;
        h1 {
            @include glavniNaslov {
                margin-top: 400px;
                font-size: 4 * $fontSize;
            }  
        }
        p {
            @include glavniNaslov {
                font-size: 2 * $fontSize;
                line-height: 4 * $fontSize;
                margin-bottom: 100px;
            }
        }
    }
}
#filter {
    margin: 30px 200px 30px 0px;
    text-align: right;
    button {
        @include dugme {
        display: inline-block;
        margin-right: 2%;
        }
        &:hover {
            color: white;
            background-color: $buttonHover;
            }
        }
}
#photo {
    background-color: $sectionBkg;
    .background {
        width: 60%;
        text-align: center;
        margin: $center;
        padding-top: 30px;
        padding-bottom: 50px;
        .container {
            width: 150px;
            height: 200px;
            display: inline-block;
            margin-right: 20px;
            margin-top: 20px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            .overlay { 
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: rgba($color: #fff, $alpha: 0.5);
                text-align: left;
                padding: 10px 0px 40px 10px;
                opacity: 0;
            }
        }
    .container:hover .overlay {
        opacity: 1;
        }
    }
}
#pricing {
    color: $fontColor;
    margin: 50px auto;
    h2 {
        @include naslovi;
    }
    p {
        text-align: center;
        margin: 50px auto;
    }
    table {
        width: 40%;
        margin: $center;
        border-collapse: collapse;
        text-align: center;
        td {
            border: 1px solid $fontColor;
            padding: $tablePadding;
        }
        th {
            @include tabelaHead {
                background-color: $orange;
                padding: $tablePadding; 
            }       
        }
        .empty {
            border: none;
        }
        .grey {
            background-color: $darkblue;
            @include tabelaHead;      
        }
    }
}
#contact {
    background-color: $sectionBkg;
    padding: 50px 0px;
    text-align: center;
    h2 {
        margin-bottom: 50px;
        @include naslovi;
    }
    #googleMap {
        display: inline-block;
        width: 25%;
        height: 300px;
    }
    form {
        text-align: center;
        display: inline-block;
        width: 40%;
        background-color: $orange;
        margin-left: 50px;
        vertical-align: top;
        select {
            width: 15%;
            @include tabelaInput;
        }
        input[type=text] {
            width: 65%;
            @include tabelaInput {
                margin-left: 0px;
            }
        }
        input[type=email] {
            width: 85%;
            @include tabelaInput {
                margin-top: 0px;
            }
        }
        textarea {
            width: 85%;
            @include tabelaInput {
                margin-top: 0px;
            }
        }
    }
}
footer {
    background-color: $darkblue;
    color:white;
    text-align: center;
    line-height: 3 * $fontSize;
    span {
        color: $orange;
    }
}
