@import 'vars';
@import 'mixins';

@include main;

header {
    width: 100%;
    height: 50em;
    background: url('../slike/intro.jpg');
    background-size: cover;

    .navigationMain {
        width: 100%;
        height: 3.5em;
        background: $header-footer-dark-blue;

        .location {
            display: inline-block;
            background-color: $orange;
            color: white;
            height: 100%;
            width: 20%;
            text-decoration: underline;
            font-size: 1em;
            padding-top: 0.6em;
            padding-left: 2em;

            img {
                display: inline-block;
                width: 40px;
                vertical-align: middle;
            }
        }

        ul {
            width: 80%;
            list-style: none;
            float: right;

            li {
                display: inline-block;
                margin-left: 1em;
                padding-right: 2em;
                padding-top: 1.25em;

                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }

    }

    .headings {
        text-align: center;
        color: white;
        width: 75%;
        background-color: rgba(55, 66, 73, 0.5);
        margin-top: 30em;
        margin-right: auto;
        margin-left: auto;
        height: 6.5em;
        padding-top: 0.2em;

        h1 {
            font-size: 4em;
            font-weight: normal;
            margin: 0 auto;
        }

        h2 {
            margin: 0 auto;
            font-weight: normal;
            font-size: 1.5em;
        }
    }
}

.container {
    margin: 0 auto;
    width: 75%;

    .search {

        display: inline-block;
        margin-left: 45em;

        #search1 {
            display: inline-block;
            margin-left: 4em;
            margin-top: 3em;
            text-align: center;
            padding: 1em;
            border: 1px solid lightgray;
            width: 7em;
            height: 3em;
            border-radius: 25px;
            margin-bottom: 6em;

            &:hover {
                background: $light-gray-hover-button;
                color: white;
                cursor: pointer;
            }
        }

        #search2 {
            display: inline-block;
            margin-left: 4em;
            margin-top: 3em;
            text-align: center;
            padding: 1em;
            border: 1px solid lightgray;
            width: 9em;
            height: 3em;
            border-radius: 25px;
            margin-bottom: 6em;

            &:hover {
                background: $light-gray-hover-button;
                color: white;
                cursor: pointer;
            }
        }

        #search3 {
            display: inline-block;
            margin-left: 4em;
            margin-top: 3em;
            text-align: center;
            padding: 1em;
            border: 1px solid lightgray;
            width: 11em;
            height: 3em;
            border-radius: 25px;
            margin-bottom: 6em;

            &:hover {
                background: $light-gray-hover-button;
                color: white;
                cursor: pointer;
            }
        }

    }

    .gallery {

        img {
            float: left;
            margin-left: 1em;
            margin-bottom: 1em;
        }

        #img6 {
            height: 25em;
            width: 18.7em;
        }

        @include clearfix;

    }

    .pricing {

        h1 {
            color: $header-footer-dark-blue;
            text-align: center;
            margin-bottom: 2em;
            margin-top: 4em;
        }

        h2 {
            color: $font-color;
            text-align: center;
            margin-bottom: 1em;
            font-weight: normal;
            margin-bottom: 2em;
        }

        .table1 {

            table {
                width: 65em;
                height: 15em;
                margin: 5em auto;
                border-collapse: collapse;
                border: 1px solid white;
            
                tr,td {
                    padding: 5px;
                    text-align: center;
                    empty-cells: hide;
                }

                .tOrange {
                    background: $orange;
                    color: white;
                    border: 1px solid $font-color;
                }

                .tDarkBlue {
                    background: $header-footer-dark-blue; 
                    color: white;
                    border: 1px solid $font-color;
                }

                .border {
                    border: 1px solid $font-color;
                }
            }

        }

    }

    .contact {

        margin-bottom: 5em;

        h1 {
            color: $header-footer-dark-blue;
            text-align: center;
            margin-bottom: 3em;
            margin-top: 4em;
        }

        form {
            width: 65%;
            float: right;
            height: 15em;
            background-color: $orange;
            padding: 2em;
            ::placeholder {
                color: $font-color;
            }

            #gender {
                width: 9em;
                height: 2.2em;
                margin-bottom: 2em;
            }

            #ime {
                height: 2.2em;
                margin-left: 2em;
                width: 52em;
                padding-left: 0.7em;
                margin-bottom: 2em;
            }

            #email {
                width: 100%;
                height: 2.2em;
                margin-bottom: 2em;
                padding-left: 0.7em;
            }

            #tArea {
                width: 100%;
                height: 5.2em;
                padding-left: 0.7em;
                padding-bottom: 2em;
            }
        }
    }
    
}

footer {
    width: 100%;
    text-align: center;
    padding-top: 0.6em;
    height: 2.2em;
    color: white;
    background-color: $header-footer-dark-blue;
    font-size: 0.9em;

    span {
        color: $orange;
    }
}